.top-bar {
  background-color: rgba(0, 0, 0, 0.971);
  display: flex;
  align-items: center;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(170, 10, 184, 0.2);
  justify-content: space-between;
}

.nav-item .dropdown-menu.high-zindex-dropdown-menu {
  z-index: 1050 !important;
  
}

.nav-item .dropdown-menu.high-zindex-dropdown-menu .dropdown-item {
  color:red !important;
  
}

.navbar-brand {
  margin-top: -15px !important;
}

.search-bar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 300px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

@media (min-width: 992px) {
  .search-bar-container {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 300px;
    box-shadow: none;
    margin-top: 0;
  }

  .navbar-brand {
    margin-top: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav .d-lg-none {
    display: none;
  }

  .navbar-nav .ms-auto {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-top: 65px !important;
  }
  .top-bar {
    justify-content: space-between;
    background-color: rgba(33, 37, 41, 0.971) !important; 
    z-index: 30000 !important; 
  }

  .navbar-toggler {
    margin-right: 20px;
    z-index: 30000 !important; 
    width:60px;
  }

  .navbar-collapse {
    background-color: rgba(33, 37, 41, 0.971) !important; 
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 30000 !important; 
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(33, 37, 41, 0.971) !important;
    z-index: 30000 !important; 
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    padding: 10px 0; 
    background-color: rgba(33, 37, 41, 0.971) !important; 
    z-index: 30000 !important; 
  }

  .navbar-nav .nav-item .nav-link {
    color: #ffffff; 
    z-index: 30000 !important; 
  }

  .navbar-nav .dropdown-menu {
    width: 100%;
    background-color: rgba(33, 37, 41, 0.971) !important; 
    z-index: 30000 !important;
  }

  .navbar-brand {
    margin-top: 0;
    width: 100%;
    text-align: center;
    z-index: 30000 !important; 
  }

  .navbar-collapse.show {
    display: block !important;
    z-index: 30000 !important; 
  }
}
