:root {
  --gap: 15px;
  --white: #fbfbfb;
  --black: #333333;
  --color1: #fda085;
  --color2: #bff098;
  --color3: #ea8d8d;
  --color4: #d8b5ff;
  --color5: #c6ea8d;
  --color6: #ff758c;
  --color7: #868f96;
  --color8: #c79081;
  --color9: #8baaaa;
  --color10: #60b347;
  --color11: #4ca1af;
  --button-background: #007bff;
  --button-hover-background: darken(#007bff, 10%);
}

body {
  background-color: var(--black);
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-family: "Varela Round", sans-serif;
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #444;
  color: white;
  border-radius: 8px;
  margin: 20px;

  p {
    margin: 10px 0;
  }

  strong {
    display: inline-block;
    width: 100px;
  }
}

.profile-content {
  flex-grow: 1;
  padding: 20px;
}

.menu {
  width: 200px !important;
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  height: 100%;
  overflow-y: auto;

  ol {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--button-hover-background);
      }

      a {
        color: var(--white);
        text-decoration: none;
      }
    }
  }
}

.nav-item .dropdown-menu {
  z-index: 9999;
}

@media (max-width: 991px) {
  .navbar {
    background-color: transparent;
  }

  .navbar-collapse {
    display: none !important;
  }
}
