.navbar{
  position: relative !important;
}
.navbar-custom {
  display:flex !important;
  flex-direction:column !important;
  background-color: #1e1e1e;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-custom .nav-item .nav-link {
  color: #fff;
}

.navbar-custom .dropdown-menu {
  z-index: 9998 !important;
  background-color: #343a40;
  border: none;
}

.navbar-custom .dropdown-item {
  color: #fff;
}

.navbar-custom .dropdown-item:hover {
  background-color: #495057;
}

@media (max-width: 991px) {
  .navbar-custom {
    margin-top: 20px !important;
  }

  .navbar-custom .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-custom .nav-item {
    width: 100%;
  }

  .navbar-custom .nav-item .dropdown-menu {
    width: 100%;
  }

  .navbar-custom .nav-item .nav-link {
    width: 100%;
    text-align: center;
  }
}
